<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <h3 style="text-align:center">Trusted by</h3>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/upscribe.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/klaviyo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/hubspot.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
